<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educacion</title>
    <link rel="shortcut icon" href="Educacion\src\assets\Imagenes\Logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav id="barra">
            <div>
                <ul>
                    <li class='active' style='padding: 8px 10px;'>
                        <a href='' style='padding:0%;'><img src='assets/Imagenes/Logo.png' alt='Incio'></a>
                    </li>
                    <div class='lista'>
                        <li class='dropbtn'>
                            <a>Servicios</a>
                            <div class='dropdown-content'>
                                <a routerLink="/servicios-institucionales">Institucionales</a>
                                <a>Educativos</a>
                                <a>Administrativos</a>
                                <a>Informativos</a>
                                <a>Externos</a>
                            </div>
                        </li>
                    </div>
                    <div class='lista'>
                        <li class='dropbtn'>
                            <a>Recursos</a>
                            <div class='dropdown-content'>
                                <a>Humano</a>
                                <a>Instalación</a>
                                <a>Multimedia</a>
                                <a>Recursos humanos</a>
                                <a>Útiles escolares</a>
                            </div>
                        </li>
                    </div>
                    <div class='lista'>
                        <li class='dropbtn'>
                            <a>Políticas</a>
                            <div class='dropdown-content'>
                                <a>Protocolo sanitario COVID-19</a>
                                <a>Acuerdos de convivencia</a>
                                <a>Administrativas</a>
                                <a>Uniforme</a>
                                <a>Seguridad</a>
                            </div>
                        </li>
                    </div>
                    <div class='lista'>
                        <li class='dropbtn'>
                            <a href='./contacts'>Contactos</a>
                        </li>
                    </div>
                    <div class='lista'>
                        <li class='dropbtn'>
                            <a>Perfil</a>
                            <div class='dropdown-content'>
                                <a>Perfil</a>
                                <a>Calificaciones</a>
                                <a>Salir</a>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </nav>
    </header>
    <div class="header">
        <h2>Usuarios</h2>
    </div>

    <div class="row">
        <div class="columnaIzq">
            <div class="seccion">
                <h2>Registrar Alumno</h2>

                <form>
                    <div>
                        <span>
                            <label for="Correo" class="form-label">Correo:</label><br />
                            <input #registroCorreo style="border-radius: 5px; border-width: 1px;" type="text"
                                id="correo" name="correo" placeholder="amogus@gmail.com" /><br />
                        </span>
                        <span>
                            <label for="NoControl" class="form-label">NoControl:</label><br />
                            <input #registroNoControl style="border-radius: 5px; border-width: 1px;" type="number"
                                id="NoControl" name="NoControl" /><br />
                        </span>
                        <span>
                            <label for="contraseña" class="form-label">Contraseña:</label><br />
                            <input #registroContrasena style="border-radius: 5px; border-width: 1px;" type="password"
                                id="contraseña" name="contraseña" placeholder="Escribe tu contraseña" /><br />
                        </span>
                        <!---<span>
                            <label for="nombre" class="form-label">Nombre(s):</label><br />
                            <input #registroNombre style="border-radius: 5px; border-width: 1px;" type="text"
                                id="nombre" name="nombre" placeholder="Escribe tu nombre" /><br />
                        </span>
                        <span>
                            <label for="ApellidoPaterno" class="form-label">Apellido Paterno:</label><br />
                            <input #registroApellidoP style="border-radius: 5px; border-width: 1px;" type="text"
                                id="ApellidoPaterno" name="ApellidoPaterno" placeholder="Escribe tu apellido" /><br />
                        </span>
                        <span>
                            <label for="ApellidoMaterno" class="form-label">Apellido Materno:</label><br />
                            <input #registroApellidoM style="border-radius: 5px; border-width: 1px;" type="text"
                                id="ApellidoMaterno" name="ApellidoMaterno" placeholder="Escribe tu apellido" /><br />
                        </span>--->
                        <span>
                            <label for="FechaDeNacimiento" class="form-label">Fecha De Nacimiento:</label><br />
                            <input #registroFecha style="border-radius: 5px; border-width: 1px;" type="date" id="Fecha"
                                name="Fecha" placeholder="Escribe tu apellido" /><br />

                        </span> <span>
                            <label for="Carrera" class="form-label">Carrera</label><br />
                            <select #registroDepartamento style="border-radius: 5px; border-width: 1px;" id="Carrera"
                                name="Carrera">
                                <option value="ISC">ISC</option>
                                <option value="IC">IC</option>
                                <option value="ARQ">ARQ</option>
                                <option value="IQ">IQ</option>
                                <option value="IBQ">IBQ</option>
                                <option value="IE">IE</option>
                                <option value="IM">IM</option>
                                <option value="IM">ADM</option>
                            </select><br />
                        </span>
                        <!---<span>
                            <label for="CodigoPostal" class="form-label">CodigoPostal:</label><br />
                            <input #registroCP style="border-radius: 5px; border-width: 1px;" type="number"
                                id="CodigoPostal" name="CodigoPostal" /><br />
                        </span>
                        <span>
                            <label for="Calle" class="form-label">Calle:</label><br />
                            <input #registroCalle style="border-radius: 5px; border-width: 1px;" type="text" id="Calle"
                                name="Calle" /><br />
                        </span>
                        <span>
                            <label for="Colonia" class="form-label">Colonia:</label><br />
                            <input #registroColonia style="border-radius: 5px; border-width: 1px;" type="text"
                                id="Colonia" name="Colonia" /><br />
                        </span>
                        <span>
                            <label for="Telefono" class="form-label">Telefono:</label><br />
                            <input #registroTelefono style="border-radius: 5px; border-width: 1px;" type="number"
                                id="Telefono" name="Telefono" /><br />
                        </span>--->
                    </div>
                    <button (click)="alRegistrarClick(registroCorreo, registroContrasena)"
                        class="agregar">Agregar</button>
                </form>
                <!---                       #registroNoControl,
                            #registroNombre,
                            #registroApellidoP,
                            #registroApellidoM,
                            #registroTipo,
                            #registroFecha,
                            #registroDepartamento,
                            #registroCP,
                            #registroCalle,
                            #registroColonia,
                            #registroTelefono--->
            </div>
            <div class="seccion">
                <h2>Registrar Docente</h2>

                <form>
                    <div>
                        <span>
                            <label for="Correo" class="form-label">Correo:</label><br />
                            <input #registroCorreo style="border-radius: 5px; border-width: 1px;" type="text"
                                id="correo" name="correo" placeholder="amogus@gmail.com" /><br />
                        </span>
                        <span>
                            <label for="NoControl" class="form-label">NoControl:</label><br />
                            <input #registroNoControl style="border-radius: 5px; border-width: 1px;" type="number"
                                id="NoControl" name="NoControl" /><br />
                        </span>
                        <span>
                            <label for="contraseña" class="form-label">Contraseña:</label><br />
                            <input #registroContrasena style="border-radius: 5px; border-width: 1px;" type="password"
                                id="contraseña" name="contraseña" placeholder="Escribe tu contraseña" /><br />
                        </span>
                        <span>
                            <label for="nombre" class="form-label">Nombre(s):</label><br />
                            <input #registroNombre style="border-radius: 5px; border-width: 1px;" type="text"
                                id="nombre" name="nombre" placeholder="Escribe tu nombre" /><br />
                        </span>
                        <span>
                            <label for="ApellidoPaterno" class="form-label">Apellido Paterno:</label><br />
                            <input #registroApellidoP style="border-radius: 5px; border-width: 1px;" type="text"
                                id="ApellidoPaterno" name="ApellidoPaterno" placeholder="Escribe tu apellido" /><br />
                        </span>
                        <span>
                            <label for="ApellidoMaterno" class="form-label">Apellido Materno:</label><br />
                            <input #registroApellidoM style="border-radius: 5px; border-width: 1px;" type="text"
                                id="ApellidoMaterno" name="ApellidoMaterno" placeholder="Escribe tu apellido" /><br />
                        </span>
                        
                        <span>
                            <label for="FechaDeNacimiento" class="form-label">Fecha De Nacimiento:</label><br />
                            <input #registroFecha style="border-radius: 5px; border-width: 1px;" type="date" id="Fecha"
                                name="Fecha" placeholder="Escribe tu apellido" /><br />

                        </span> 
                        <span>
                            <label for="CodigoPostal" class="form-label">CodigoPostal:</label><br />
                            <input #registroCP style="border-radius: 5px; border-width: 1px;" type="number"
                                id="CodigoPostal" name="CodigoPostal" /><br />
                        </span>
                        <span>
                            <label for="Calle" class="form-label">Calle:</label><br />
                            <input #registroCalle style="border-radius: 5px; border-width: 1px;" type="text" id="Calle"
                                name="Calle" /><br />
                        </span>
                        <span>
                            <label for="Colonia" class="form-label">Colonia:</label><br />
                            <input #registroColonia style="border-radius: 5px; border-width: 1px;" type="text"
                                id="Colonia" name="Colonia" /><br />
                        </span>
                        <span>
                            <label for="Telefono" class="form-label">Telefono:</label><br />
                            <input #registroTelefono style="border-radius: 5px; border-width: 1px;" type="number"
                                id="Telefono" name="Telefono" /><br />
                        </span>
                        <span>
                            <label for="Materia" class="form-label">Materia</label><br />
                            <select #registroTipo style="border-radius: 5px; border-width: 1px;" id="Materia"
                                name="Materia">
                                <option value="Admin">Calculo Diferencial</option>
                                <option value="Docente">Calculo integral</option>
                                <option value="Estudiante">Matematicas discretas</option>
                            </select><br />
                        </span>
                        
                    </div>
                    <button (click)="alRegistrarClick(registroCorreo, registroContrasena)"
                        class="agregar">Agregar</button>
                </form>
            </div>

        </div>
        <div class="columnaDer">
            <div class="seccion">
                <button type="button" class="botones">Regresar a usuarios</button>

            </div>
            <div class="seccion">
                <h3>Navegacion</h3>
                <button type="button" class="botones">Cursos</button>
                <button type="button" class="botones">Perfil</button>
                <button type="button" class="botones">Calificaciones</button>
            </div>

        </div>
    </div>
    <app-pie-pagina></app-pie-pagina>
</body>

</html>