<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>servicios-educativos</title>
  <link rel="shortcut icon" href="Educacion\src\assets\Imagenes\Logo.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <nav id="barra">
      <div>
        <ul>
          <li class='active' style='padding: 8px 10px;'>
            <a href='' style='padding:0%;'><img src='assets/Imagenes/Logo.png' alt='Incio'></a>
          </li>
          <div class='lista'>
            <li class='dropbtn'>
              <a>Servicios</a>
              <div class='dropdown-content'>
                <a routerLink="/servicios-institucionales">Institucionales</a>
                <a routerLink="/servicios-educativos">Educativos</a>
                <a routerLink="/servicios-administrativos">Administrativos</a>
                <a routerLink="/servicios-externos">Externos</a>
              </div>
            </li>
          </div>
          <div class='lista'>
            <li class='dropbtn'>
              <a>Recursos</a>
              <div class='dropdown-content'>
                <a href='./RecursosHumanos'>Humano</a>
                <a href='./RecursosInstalacion'>Instalación</a>
                <a>Multimedia</a>
                <a>Recursos humanos</a>
                <a>Útiles escolares</a>
              </div>
            </li>
          </div>
          <div class='lista'>
            <li class='dropbtn'>
              <a>Políticas</a>
              <div class='dropdown-content'>
                <a>Protocolo sanitario COVID-19</a>
                <a>Acuerdos de convivencia</a>
                <a>Administrativas</a>
                <a>Uniforme</a>
                <a>Seguridad</a>
              </div>
            </li>
          </div>
          <div class='lista'>
            <li class='dropbtn'>
              <a href='./contacts'>Contactos</a>
            </li>
          </div>
          <div   class='lista'>
            <li class='dropbtn'>
              <a href='/login'>Ingresar</a>
            </li>
          </div>
          <div   >
            <li class='dropbtn'>
              <a href='/principal-plataforma'>Plataforma</a>
            </li>
          </div>
          <div   class='lista'>
            <li class='dropbtn'>
              <a>Perfil</a>
              <div  class='dropdown-content'>
                <a>Perfil</a>
                <a>Calificaciones</a>
                <a >Salir</a>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <section class="contenedor sobre-nosotros">
      <h2 class="titulo">Servicios Educativos</h2>
      <div class="contenedor-sobre-nosotros">
        <img src="assets/Imagenes/principal_1.svg" alt="" class="imagen-about-us">
        <div class="contenido-textos">
          <p>Servicios Educativos es el área responsable de organizar y coordinar la operación del
               sistema de registro, control escolar y titulación de los estudiantes que cursan las 
               diversas carreras educativas que oferta la Universidad; 
               así como los servicios que se ofrecen en el ámbito administrativo como consultas y trámites diversos.</p>
               <p>Consulta la información de los siguientes trámites:</p>
          <h3><span>1</span>Inscripción</h3>
          <p>La inscripción es el proceso que regula el ingreso, reingreso y registro de los jóvenes a la universidad, 
            para facilitar la continuidad de los mismos a través del Sistema Educativo.</p>
        </div>
      </div>
    </section>
    <section style="background-color: rgb(235, 244, 253)">
      <section class="contenedor sobre-nosotros">
        <div class="contenedor-sobre-nosotros">
          <div class="contenido-textos">
            <h3><span>2</span>Titulación</h3>
            <p>Se le otorgará el reconocimiento de la formación académica y profesional de un alumno después de la 
              terminación exitosa de algún programa 
              de la casa de estudios de nivel Licenciatura, Maestría o Doctorado.</p>
            <h3><span>3</span>Constancias e historial académico</h3>
            <p>Un historial académico contiene las calificaciones del alumno, las asignaturas, el tiempo que lleva en la escuela, y quizá otros detalles más como tiempo de exámenes y niveles de asistencia, y además la constancia que expide la institución académica a petición del interesado, mostrando que el alumno se encuentra registrado en dicha institución. Todo ello con el objetivo de brindarle la mayor atención posible al alumno.</p>
          </div>
          <img src="assets/Imagenes/principal_2.svg" alt="" class="imagen-about-us">
        </div>
      </section>
    </section>
    <section style="background-color: rgb(255, 255, 255)">
      <section class="about-services" style="background-color: rgb(255, 255, 255)">
        <div class="contenedor">
          <h2 class="titulo">Otros servicios</h2>
          <div class="servicio-cont">
            <div class="servicio-ind" style="margin: 10px;">
              <img src="assets/Imagenes/" alt="">
              <h3>Insitucionales</h3>
              <p>Le corresponde la planificación, obtención, asignación, registro, control y evaluación de los recursos humanos, materiales y financieros de la entidad; por lo que debe promover el uso eficiente y eficaz de los recursos institucionales.</p>
            </div>

            <div class="servicio-ind" style="margin: 10px;">
              <img src="assets/Imagenes/" alt="">
              <h3>Administrativos</h3>
              <p>brindar a la comunidad universitaria y los públicos externos relacionados con la misma un amplio
                portafolio de servicios que
                van desde gestión de mantenimiento, hasta otros como seguridad integral</p>
            </div>
            <div class="servicio-ind" style="margin: 10px;">
              <img src="assets/Imagenes/" alt="">
              <h3>Externos</h3>
              <p>Servicios digitales relacionados con las actividades academicas, administrativas y del medio
                universitario dirigido hacia el
                publico externo.
              </p>
            </div>
          </div>
        </div>
      </section>
    </section>
  </main>
  <footer style="margin-top:10px;">
    <div class="contenedor-footer" >
        <div class="content-foo">
            <h4>Telefono</h4> 
            <p>+52 311 123 4567</p>
        </div>
        <div class="content-foo">
            <h4>Correo</h4>
            <p>amogus@gmail.com</p>
        </div>
        <div class="content-foo">
            <h4>Localizacion</h4>
            <p>63176</p>
        </div>
    </div>
    <h2 class="titulo-final">&copy; Podri y asociados</h2>
</footer>
</body>

</html>