<!DOCTYPE html>
<html lang="es">

<head>
  <router-outlet></router-outlet>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>servicios-educativos</title>
  <link rel="shortcut icon" href="Educacion\src\assets\Imagenes\Logo.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <app-cabecero></app-cabecero>
  </header>
  <main>
    <section class="contenedor sobre-nosotros">
      <h2 class="titulo">Servicios Educativos</h2>
      <div class="contenedor-sobre-nosotros">
        <img src="assets/Imagenes/principal_1.svg" alt="" class="imagen-about-us">
        <div class="contenido-textos">
          <p>Servicios Educativos es el área responsable de organizar y coordinar la operación del
               sistema de registro, control escolar y titulación de los estudiantes que cursan las 
               diversas carreras educativas que oferta la Universidad; 
               así como los servicios que se ofrecen en el ámbito administrativo como consultas y trámites diversos.</p>
               <p>Consulta la información de los siguientes trámites:</p>
          <h3><span>1</span>Inscripción</h3>
          <p>Poner texto x2</p>
        </div>
      </div>
    </section>
    <section style="background-color: rgb(235, 244, 253)">
      <section class="contenedor sobre-nosotros">
        <div class="contenedor-sobre-nosotros">
          <div class="contenido-textos">
            <h3><span>2</span>Titulación</h3>
            <p></p>
            <h3><span>3</span>Constancias e historial scadémico</h3>
            <p></p>
          </div>
          <img src="assets/Imagenes/principal_2.svg" alt="" class="imagen-about-us">
        </div>
      </section>
    </section>
    <section style="background-color: rgb(255, 255, 255)">
      <section class="about-services" style="background-color: rgb(255, 255, 255)">
        <div class="contenedor">
          <h2 class="titulo">Otros servicios</h2>
          <div class="servicio-cont">
            <div class="servicio-ind" style="margin: 10px;">
              <img src="assets/Imagenes/" alt="">
              <h3>Educativos</h3>
              <p>responsable de organizar y coordinar la operación del sistema de registro, control escolar y titulación
                de los estudiantes
                que cursan las diversas carreras educativas que oferta la Universidad</p>
            </div>

            <div class="servicio-ind" style="margin: 10px;">
              <img src="assets/Imagenes/" alt="">
              <h3>Administrativos</h3>
              <p>brindar a la comunidad universitaria y los públicos externos relacionados con la misma un amplio
                portafolio de servicios que
                van desde gestión de mantenimiento, hasta otros como seguridad integral</p>
            </div>
            <div class="servicio-ind" style="margin: 10px;">
              <img src="assets/Imagenes/" alt="">
              <h3>Externos</h3>
              <p>Servicios digitales relacionados con las actividades academicas, administrativas y del medio
                universitario dirigido hacia el
                publico externo.
              </p>
            </div>
          </div>
        </div>
      </section>
    </section>
  </main>
  <app-pie-pagina></app-pie-pagina>
</body>

</html>