<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Educacion</title>
  <link rel="shortcut icon" href="Educacion\src\assets\Imagenes\Logo.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <nav id="barra">
      <div>
        <ul>
          <li class='active' style='padding: 8px 10px;'>
            <a href='' style='padding:0%;'><img src='assets/Imagenes/Logo.png' alt='Incio'></a>
          </li>
          <div class='lista'>
            <li class='dropbtn'>
              <a>Servicios</a>
              <div class='dropdown-content'>
                <a routerLink="/servicios-institucionales">Institucionales</a>
                <a>Educativos</a>
                <a>Administrativos</a>
                <a>Informativos</a>
                <a>Externos</a>
              </div>
            </li>
          </div>
          <div class='lista'>
            <li class='dropbtn'>
              <a>Recursos</a>
              <div class='dropdown-content'>
                <a>Humano</a>
                <a>Instalación</a>
                <a>Multimedia</a>
                <a>Recursos humanos</a>
                <a>Útiles escolares</a>
              </div>
            </li>
          </div>
          <div class='lista'>
            <li class='dropbtn'>
              <a>Políticas</a>
              <div class='dropdown-content'>
                <a>Protocolo sanitario COVID-19</a>
                <a>Acuerdos de convivencia</a>
                <a>Administrativas</a>
                <a>Uniforme</a>
                <a>Seguridad</a>
              </div>
            </li>
          </div>
          <div class='lista'>
            <li class='dropbtn'>
              <a href='./contacts'>Contactos</a>
            </li>
          </div>
          <div class='lista'>
            <li class='dropbtn'>
              <a>Perfil</a>
              <div class='dropdown-content'>
                <a>Perfil</a>
                <a>Calificaciones</a>
                <a>Salir</a>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </nav>
  </header>
  <div class="header">
    <h2>Plataforma Virtual</h2>
    <h5>¡Bienvenido Gerardo!</h5>
  </div>

  <div class="row">
    <div class="columnaIzq">
      <div class="seccion">
        <h2>Curso1</h2>
        <h5>Profe</h5>
        <div class="botones" style="height:200px;">Imagen</div>
        <p>Texto</p>
      </div>
      <div class="seccion">
        <h2>Curso2</h2>
        <h5>Profe</h5>
        <div class="botones" style="height:200px;">Imagen</div>
        <p>Texto</p>
      </div>
    </div>

    <div class="columnaDer">
      <div class="seccion">
        <h2>Calendario</h2>

      </div>
      <div class="seccion">
        <h3>Navegacion</h3>
        <button type="button" class="botones">Cursos</button>
        <button type="button" class="botones">Perfil</button>
        <button type="button" class="botones">Calificaciones</button>
      </div>

    </div>
  </div>
  <app-pie-pagina></app-pie-pagina>
</body>

</html>