body {
    font-family: Arial;
    padding: 20px;
    background: rgb(235, 244, 253);
  }
  
  .header {
    width: 100%;
    height: 200px;
    color: #ffff;
    text-align: center;
    background: #4e74bc;
    background: -webkit-linear-gradient(to right, hsla(182, 100%, 74%, 0.459), hsla(226, 57%, 47%, 0.664)), url(src/assets/Imagenes/LibreriaOnline.jpeg);
    background: linear-gradient(to right, hsla(182, 100%, 74%, 0.459),  hsla(226, 57%, 47%, 0.664)), url(src/assets/Imagenes/Covid.jpeg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
  }
  

  .columnaIzq {
    float: left;
    width: 75%;
    color: #2e4b81;
  }
  
  .columnaDer {
    float: left;
    width: 25%;
    padding-left: 20px;
    color: #2e4b81;
  }
  
  .botones{
    color: #2e4b81;
    background-color: #ffff;
    width: 100%;
    border-style: double;
    border-radius: 5px;
    border-width: 5px;
    border-color: #2e4b81;
    margin-bottom: 5px;
    padding: 20px;
  }
  
  .botones:hover{
    color: #ffff;
    background-color: #2e4b81;
    border-color: #ffff;
  }

  .seccion {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
  }
  
 .columnaIzq>.seccion:hover{
  background-color: #2e4b81;
  color: #ffff;
 }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }