<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <app-cabecero></app-cabecero>

    <div class="FORM1">
      <form>
        <h1 class="LOGIN">INGRESAR</h1>
        <div class="mb-3">
          <label for="correo" class="form-label">Correo:</label><br />
          <input #LoginCorreo style="border-radius: 5px; border-width: 1px;" type="text" id="correo" name="correo"
            placeholder="amogus@gmail.com" /><br />
        </div>

        <div class="mb-3">
          <label for="contraseña">Contraseña:</label><br />
          <input #LoginContrasena style="border-radius: 5px; border-width: 1px;" type="password" id="contraseña"
            name="contraseña" placeholder="Escribe tu contraseña" /><br />

        </div>

        <button (click)="onLogin(LoginCorreo, LoginContrasena)" class="btn btn-primary"
          style="margin-bottom:10px;">Ingresar</button><br />
        <p>
          Las 'Cookies' deben estar habilitadas en su navegador
        </p>
      </form>
    </div>
  </body>

