        <nav id="barra">
            <div>
                <ul>
                    <li class='active' style='padding: 8px 10px;'>
                        <a href='' style='padding:0%;'><img src='assets/Imagenes/Logo.png' alt='Incio'></a>
                    </li>
                    <div class='lista'> 
                      <li class='dropbtn'>
                        <a>Servicios</a>
                          <div class='dropdown-content'>
                              <a routerLink="/servicios-institucionales">Institucionales</a>
                              <a routerLink="/servicios-educativos">Educativos</a>
                              <a>Administrativos</a>
                              <a>Externos</a>
                          </div>
                      </li>
                    </div>
                    <div class='lista'>
                      <li class='dropbtn'>
                        <a>Recursos</a>
                          <div class='dropdown-content'>
                              <a>Humano</a>
                              <a>Instalación</a>
                              <a>Multimedia</a>
                              <a>Recursos humanos</a>
                              <a>Útiles escolares</a>
                          </div>
                      </li>
                    </div>
                    <div class='lista'>
                      <li class='dropbtn'>
                        <a>Políticas</a>
                          <div class='dropdown-content'>
                              <a>Protocolo sanitario COVID-19</a>
                              <a>Acuerdos de convivencia</a>
                              <a>Administrativas</a>
                              <a>Uniforme</a>
                              <a>Seguridad</a>
                          </div>
                      </li>
                    </div>
                    <div class='lista'>
                      <li class='dropbtn'>
                        <a href='./contacts'>Contactos</a>
                      </li>
                    </div>
                    <div class='lista'>
                      <li class='dropbtn'>
                        <a href='/login'>Ingresar</a>
                      </li>
                    </div>
                </ul>
                </div>
        </nav>


