<app-header-admin pageTitle="Cursos" imageUrl="business" helpType="jobpage"></app-header-admin>
<mat-card [@fallIn]='estado'>
  <mat-card-content>
    <div *ngIf="(toggleField=='searchMode') else (toggleField=='addMode')? showAddMode : ((toggleField=='editMode')? showEditMode : showResMode)">
      <form #searchFormData="ngForm" class="example-form">
        <mat-card-actions align="start">
          <button type="button" (click)="toggle('resMode');getData(searchFormData.value);" mat-raised-button [disabled]="(code.value == '' && descr.value == '')"
            color="primary">Buscar</button>
          <span class="med-spacer"></span>
          <span matTooltip="Añadir">
            <mat-icon color="primary" (click)="toggle('addMode')" svgIcon="add"></mat-icon>
          </span>
          <span class="small-spacer"></span>
          <span matTooltip="Mostar resultados recientes">
            <mat-icon color="primary" (click)="toggle('resMode');getData();" svgIcon="cached"></mat-icon>
          </span>
        </mat-card-actions>
        <mat-form-field class="example-form">
          <input matInput type="text" placeholder="Codigo" id="code" name="code" #code="ngModel" ngModel [disabled]="descr.value !== ''">
        </mat-form-field>
        <br>
        <mat-form-field class="example-form">
          <input matInput type="text" placeholder="Descripcion" id="descr" name="descr" #descr="ngModel" ngModel [disabled]="code.value !== ''">
        </mat-form-field>
      </form>
    </div>
  </mat-card-content>
</mat-card>
<!-- añadir -->
<ng-template #showAddMode>
  <form #addDataForm="ngForm" (ngSubmit)="setData(addDataForm.value);" novalidate>
    <mat-error *ngIf="guardarCambioso">
      Los cambios se han guardado
      <label class="small-spacer"></label>
      <mat-icon (click)="this.addDataForm.reset();guardarCambioso=false;toggle('searchMode');" svgIcon="clear"></mat-icon>
    </mat-error>
    <div *ngIf="!guardarCambioso">
      <mat-progress-bar mode="indeterminate" *ngIf="cargando"></mat-progress-bar>
      <mat-error *ngIf="error">Error: {{ errorMsj }}</mat-error>
      <mat-card-actions align="start">
        <button type="submit" mat-raised-button  color="primary">Añadir</button>
        <button type="reset" (click)="this.addDataForm.reset();" mat-raised-button  color="primary">Limpiar</button>
        <span class="med-spacer"></span>
        <span matTooltip="Buscar">
          <mat-icon color="primary" (click)="toggle('searchMode')" svgIcon="search"></mat-icon>
        </span>
        <span class="small-spacer"></span>
        <span matTooltip="Mostrar resultados recientes">
          <mat-icon color="primary" (click)="toggle('resMode');getData();" svgIcon="cached"></mat-icon>
        </span>
      </mat-card-actions>
      <mat-form-field>
          <input matInput placeholder="Codigo" name="code" id="code" ngModel required minlength="1">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Descripcion" name="descr" id="descr" ngModel required minlength="1">
        </mat-form-field>
        <br>
        <mat-form-field>
          <textarea  matInput placeholder="Institucion" name="org" id="org" ngModel></textarea>
        </mat-form-field>
        <br>
        <mat-form-field>
          <textarea  matInput placeholder="Transcurso" name="session" id="session" ngModel></textarea>
          <mat-hint align="end">ejemplo 2020-2021</mat-hint>
        </mat-form-field>
        <br>
        <mat-form-field>
          <textarea  matInput placeholder="Grado" name="grade" id="grade" ngModel></textarea>
        </mat-form-field>
        <br>
        <mat-form-field>
          <textarea  matInput placeholder="Comentarios" name="comments" id="comments" ngModel></textarea>
        </mat-form-field>
    </div>
  </form>
</ng-template>

<ng-template #showEditMode>
  <form #editDataForm="ngForm" (ngSubmit)="updateData(editDataForm.value);" novalidate>
    <input type="hidden" name="_id" id="_id" [ngModel]="(data$ | async)?._id" required>
    <mat-error *ngIf="guardarCambioso">
      Se guardaron los cambios
      <label class="small-spacer"></label>
      <mat-icon (click)="this.editDataForm.reset();guardarCambioso=false;toggle('searchMode');" svgIcon="clear"></mat-icon>
    </mat-error>
    <div *ngIf="!guardarCambioso">
      <mat-progress-bar mode="indeterminate" *ngIf="cargando"></mat-progress-bar>
      <mat-error *ngIf="error">Error: {{ errorMsj }}</mat-error>
      <mat-card-actions align="start">
        <button type="submit" mat-raised-button [disabled]="!this.editDataForm.valid || this.editDataForm.pristine" color="primary">Actualizar</button>
        <span class="med-spacer"></span>
        <span matTooltip="Buscar">
          <mat-icon color="primary" (click)="toggle('searchMode')" svgIcon="search"></mat-icon>
        </span>
        <span class="small-spacer"></span>
        <span matTooltip="Mostrar resultados recientes">
          <mat-icon color="primary" (click)="toggle('resMode');getData();" svgIcon="cached"></mat-icon>
        </span>
      </mat-card-actions>
      <mat-form-field>
          <input matInput placeholder="Codigo" name="code" id="code" [ngModel]="(data$ | async)?.code" required minlength="1">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Descripcion" name="descr" id="descr" [ngModel]="(data$ | async)?.descr" required minlength="1">
        </mat-form-field>
        <br>
        <mat-form-field>
          <textarea  matInput placeholder="Institucion" name="org" id="org" [ngModel]="(data$ | async)?.org"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field>
          <textarea  matInput placeholder="Transcurso" name="session" id="session" [ngModel]="(data$ | async)?.session"></textarea>
          <mat-hint align="end">ejemplo 2020-2021</mat-hint>
        </mat-form-field>
        <br>
        <mat-form-field>
          <textarea  matInput placeholder="Grado" name="grade" id="grade" [ngModel]="(data$ | async)?.grade"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field>
          <textarea  matInput placeholder="Comentarios" name="comments" id="comments" [ngModel]="(data$ | async)?.comments"></textarea>
        </mat-form-field>
    </div>
  </form>
</ng-template>
<!-- Results mode -->
<ng-template #showResMode>
  <mat-card-actions align="start">
    <span class="med-spacer"></span>
    <span class="med-spacer"></span>
    <span class="med-spacer"></span>
    <span matTooltip="Añadir">
      <mat-icon color="primary" (click)="toggle('addMode')" svgIcon="add"></mat-icon>
    </span>
    <span class="small-spacer"></span>
    <span matTooltip="Buscar todos">
      <mat-icon color="primary" (click)="toggle('searchMode')" svgIcon="search"></mat-icon>
    </span>
  </mat-card-actions>
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event)" placeholder="Mostrar resultados recientes">
    </mat-form-field>
  </div>
  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Codigo</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="descr">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.descr}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="_id">
        <mat-header-cell *matHeaderCellDef> accion</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span matTooltip="Editar">
            <button mat-icon-button (click)="getDoc(row._id)">
              <mat-icon color="primary" svgIcon="edit"></mat-icon>
            </button>
          </span>
          <span matTooltip="Eliminar">
            <button mat-icon-button (click)="deleteDoc(row._id)">
              <mat-icon color="primary" svgIcon="delete"></mat-icon>
            </button>
          </span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</ng-template>