<p>servicios-administrativos works!</p>
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>servicios-administrativos</title>
  <link rel="shortcut icon" href="Educacion\src\assets\Imagenes\Logo.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <nav id="barra">
      <div>
        <ul>
          <li class='active' style='padding: 8px 10px;'>
            <a href='' style='padding:0%;'><img src='assets/Imagenes/Logo.png' alt='Incio'></a>
          </li>
          <div class='lista'>
            <li class='dropbtn'>
              <a>Servicios</a>
              <div class='dropdown-content'>
                <a routerLink="/servicios-institucionales">Institucionales</a>
                <a routerLink="/servicios-educativos">Educativos</a>
                <a routerLink="/servicios-administrativos">Administrativos</a>
                <a routerLink="/servicios-externos">Externos</a>
              </div>
            </li>
          </div>
          <div class='lista'>
            <li class='dropbtn'>
              <a>Recursos</a>
              <div class='dropdown-content'>
                <a href='./RecursosHumanos'>Humano</a>
                <a href='./RecursosInstalacion'>Instalación</a>
                <a>Multimedia</a>
                <a>Recursos humanos</a>
                <a>Útiles escolares</a>
              </div>
            </li>
          </div>
          <div class='lista'>
            <li class='dropbtn'>
              <a>Políticas</a>
              <div class='dropdown-content'>
                <a>Protocolo sanitario COVID-19</a>
                <a>Acuerdos de convivencia</a>
                <a>Administrativas</a>
                <a>Uniforme</a>
                <a>Seguridad</a>
              </div>
            </li>
          </div>
          <div class='lista'>
            <li class='dropbtn'>
              <a href='./contacts'>Contactos</a>
            </li>
          </div>
          <div   class='lista'>
            <li class='dropbtn'>
              <a href='/login'>Ingresar</a>
            </li>
          </div>
          <div   >
            <li class='dropbtn'>
              <a href='/principal-plataforma'>Plataforma</a>
            </li>
          </div>
          <div   class='lista'>
            <li class='dropbtn'>
              <a>Perfil</a>
              <div  class='dropdown-content'>
                <a>Perfil</a>
                <a>Calificaciones</a>
                <a>Salir</a>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <section class="contenedor sobre-nosotros">
      <h2 class="titulo">Servicios Administrativos</h2>
      <div class="contenedor-sobre-nosotros">
        <img src="assets/Imagenes/ServiciosAdministrativos_1.png" alt="" class="imagen-about-us">
        <div class="contenido-textos">
          <p>La Dirección de Servicios Administrativos es la responsable de la Gestión Logística y de la Seguridad Integral de la 
            Universidad, en cuanto a todos los servicios de apoyo prestados, propende por el buen 
            desarrollo de las funciones sustantivas de la Universidad como docencia, investigación y extensión.</p>
            <h3>Funciones</h3>
          <p>Planear, programar, organizar, dirigir y controlar las actividades administrativas de contratación de bienes y 
            servicios de la Institución que permitan el óptimo funcionamiento de 
            los mismos, con base en las políticas, objetivos, pautas y directrices internas de la Universidad.</p>
               <p>Consulta la información de los siguientes beneficios:</p>
          <h3><span>1</span>Gestión del Mantenimiento</h3>
          <p>Garantizar la disponibilidad y el adecuado funcionamiento de los sistemas, muebles, equipos y  planta física de la 
            Universidad, atendiendo eficazmente las diferentes necesidades de la comunidad 
            universitaria utilizando las herramientas tecnológicas para el mantenimiento preventivo y correctivo.</p>
        </div>
      </div>
    </section>
    <section style="background-color: rgb(235, 244, 253)">
      <section class="contenedor sobre-nosotros">
        <div class="contenedor-sobre-nosotros">
          <div class="contenido-textos">
            <h3><span>2</span>Gestión de Seguridad Integral</h3>
            <p>Garantizar el desarrollo de las actividades en el campus de forma segura y confiable,  
              para las personas y todos los recursos, enmarcado dentro de las políticas administrativas institucionales.</p>
            <h3><span>3</span>Regulación archivística</h3>
            <p>A través de la Gestión Documental establecemos los procedimientos y políticas para las buenas prácticas del manejo de los documentos físicos y electrónicos  durante su ciclo de vida, buscando normalizar los procesos 
              archivísticos desde su producción hasta su disposición final en cumplimiento a la normativa legal vigente.</p>
            <h3><span>4</span>Asesoría</h3>
            <p>Acceder a nuestro servicio de asesoría le permitirá:
              Tomar decisiones respecto a la producción, clasificación, organización, preservación, conservación, y disposición final de los documentos.</p>
              <h3><span>5</span>Digitalización</h3>
            <p>El área de Gestión documental  asesora las diferentes áreas académicas y administrativas de la Universidad en el proceso de 
              digitalización, la cual puede ser a través de los servicios 
              de digitalización interna con Dirección de Tecnología e Informática o servicio tercerizado previa coordinación con Gestión Documental </p>
          </div>
          <img src="assets/Imagenes/principal_2.svg" alt="" class="imagen-about-us">
        </div>
      </section>
    </section>
    <section style="background-color: rgb(255, 255, 255)">
      <section class="about-services" style="background-color: rgb(255, 255, 255)">
        <div class="contenedor">
          <h2 class="titulo">Otros servicios</h2>
          <div class="servicio-cont">
            <div class="servicio-ind" style="margin: 10px;">
              <img src="assets/Imagenes/" alt="">
              <h3>Insitucionales</h3>
              <p>Le corresponde la planificación, obtención, asignación, registro, control y evaluación de los recursos humanos, materiales y financieros de la entidad; por lo que debe promover el uso eficiente y eficaz de los recursos institucionales.</p>
            </div>

            <div class="servicio-ind" style="margin: 10px;">
              <img src="assets/Imagenes/" alt="">
              <h3>Educativos</h3>
              <p>responsable de organizar y coordinar la operación del sistema de registro, control escolar y titulación
                de los estudiantes
                que cursan las diversas carreras educativas que oferta la Universidad</p>
            </div>
            <div class="servicio-ind" style="margin: 10px;">
              <img src="assets/Imagenes/" alt="">
              <h3>Externos</h3>
              <p>Servicios digitales relacionados con las actividades academicas, administrativas y del medio
                universitario dirigido hacia el
                publico externo.
              </p>
            </div>
          </div>
        </div>
      </section>
    </section>
  </main>
  <footer style="margin-top:10px;">
    <div class="contenedor-footer" >
        <div class="content-foo">
            <h4>Telefono</h4> 
            <p>+52 311 123 4567</p>
        </div>
        <div class="content-foo">
            <h4>Correo</h4>
            <p>amogus@gmail.com</p>
        </div>
        <div class="content-foo">
            <h4>Localizacion</h4>
            <p>63176</p>
        </div>
    </div>
    <h2 class="titulo-final">&copy; Podri y asociados</h2>
</footer>
</body>

</html>